/*Basic reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom properties */
:root {
  --font-sans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --size-300: 300;
  --size-400: 400;
  --size-500: 500;
  --size-700: 700;
  --background: #e5e5e5;
  --linear-gradient: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #282623;
  --black: #201e1c;
  --off-white: #faf8f7;
  --just-white: #fff;
  --grey: #bababa;
}

/* Global styles */
html {
  font-size: 10px;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}
/* body {
  font-size: 1.6rem;
} */
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

/************* Header styles *************/
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 32rem;
  height: 33.4rem;
  text-align: center;
  background: var(--linear-gradient);
}
header img {
  width: 15rem;
  height: 2.4rem;
  margin-top: 6rem;
  align-self: center;
}
.header--title-container {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  height: 21.8rem;
  margin-top: 4rem;
  text-align: center;
  align-self: center;
}
.header--title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header--title-container p {
  margin-top: 2.5rem;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header--title-container .header--button {
  position: absolute;
  left: calc(50% - 114.5px);
  top: 27rem;
  display: block;
  margin-top: 3.5rem;
  padding: 1.5rem;
  width: 22.9rem;
  height: 4.8rem;
  background: var(--off-white);
  box-shadow: 0px 0px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 1.3rem;
  height: 0.8rem;
  margin-left: 1rem;
  background-image: url("../assets/icons/down-arrow.svg");
}
/************* Header end *************/

/************* Main styles *************/
main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 3rem;
  text-align: center;
}
.main-exchange-container .backgroundImg {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  background: url("../assets/img/Bitcoin.svg") center/cover no-repeat;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 28.8rem;
  max-width: 90rem;
  margin: 0 auto;
}
.main-exchange-container h2 {
  margin-bottom: 3rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.6rem;
  color: #757575;
}
.main-currency-table {
  width: 70%;
  min-width: 23.5rem;
  max-width: 50rem;
  height: 30rem;
  margin: 0 auto;
  font-family: var(--font-inter);
  padding-top: 3rem;
}
.main-currency-table .currency-table--title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoin-orange);
}
.currency-table--container {
  width: 90%;
  min-width: 23rem;
  max-width: 30rem;
  height: 15.6rem;
  margin: 0 auto;
}
.currency-table--container table {
  width: 100%;
  height: 100%;
}
.currency-table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: var(--size-500);
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);
}
.currency-table--container .table__top-left {
  border-top-left-radius: 1.5rem;
}
.currency-table--container .table__top-right {
  border-top-right-radius: 1.5rem;
}
.currency-table--container .table__bottom-left {
  border-bottom-left-radius: 1.5rem;
}
.currency-table--container .table__bottom-right {
  border-bottom-right-radius: 1.5rem;
}
.currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;
}
.currency-table--container .down {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  background: url("../assets/icons/trending-down.svg") center/cover no-repeat;
}
.currency-table--container .up {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
  background: url("../assets/icons/trending-up.svg") center/cover no-repeat;
}
.currency-table--date {
  width: 20rem;
  height: 3rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0.8rem;
  background-color: var(--soft-orange);
  border-radius: 0.8rem;
}
.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
  font-weight: var(--size-300);
}
.currency-table--title.title--blue {
  color: var(--secondary-blue);
}
.currency-table--date.date--blue {
  background-color: var(--soft-blue);
}
/************* Main styles end *************/

/************* Sección beneficios *************/
.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 32rem;
  height: auto;
  padding: 2rem 1rem;
  background: var(--black);
}
.product-detail--batata-logo {
  position: absolute;
  width: 4rem;
  height: 2.5rem;
  background: url("../assets/icons/batata.svg");
  top: calc(0% - 12.5px);
  left: calc(50% - 20px);
}
.product-detail--title {
  width: 90%;
  min-width: 28.8rem;
  height: auto;
  margin: 0 auto;
  margin-top: 5rem;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail--title p {
  margin-bottom: 2rem;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: #808080;
}
.product-detail--card {
  width: 90%;
  min-width: 28.8rem;
  max-width: 40rem;
  height: 15rem;
  margin: 1.5rem auto;
  padding: 1.5rem;
  background: var(--warm-black);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background: url("../assets/icons/clock.svg") center/cover no-repeat;
}
.product-detail--card .eye {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background: url("../assets/icons/eye.svg") center/cover no-repeat;
}
.product-detail--card .dollar {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background: url("../assets/icons/dollar-sign.svg") center/cover no-repeat;
}
.product-detail--card .check {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin-bottom: 1rem;
  background: url("../assets/icons/check-circle.svg") center/cover no-repeat;
}
.product--card-title {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product--card-body {
  font-size: 1.39rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: #808080;
}
/************* Sección beneficios end *************/

/************* Sección comodín  *************/
.bitcoin-img-container {
  width: 100%;
  min-width: 32rem;
  height: 50vh;
  background: url("../assets/img/bitcoinbaby2x.jpg") center/cover no-repeat;
}
.bitcoin-img-container h2 {
  padding-top: 6rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
  text-align: center;
}
/************* Sección comodín end *************/

/************* Sección de planes *************/
.main-plans-container {
  width: 100%;
  min-width: 32rem;
  padding-bottom: 7rem;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 28.8rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.plans--title h2 {
  padding-top: 5rem;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.plans--title p {
  padding-top: 3rem;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: #757575;
}
.plans-container--card {
  position: relative;
  width: 60%;
  min-width: 19rem;
  max-width: 30rem;
  height: 25rem;
  margin: 5rem 1rem 0;
  padding: 0 1.5rem;
  background-color: var(--just-white);
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recommended {
  position: absolute;
  scroll-snap-align: center;
  width: 12rem;
  height: 3rem;
  background: var(--bitcoin-orange);
  top: -1.5rem;
  left: calc(50% - 6rem);
  border-radius: 0.8rem;
  color: var(--just-white);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.7rem 1rem;
}
.plan-card--title {
  padding-top: 3rem;
  font-size: 1.4rem;
  font-weight: var(--size-500);
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--price {
  padding: 0.5rem 0;
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.3rem;
  color: var(--black);
}
.plan-card--price span {
  font-size: 1.2rem;
  font-weight: var(--size-300);
  vertical-align: 2.8rem;
}
.plan-card--saving {
  font-size: 1.3rem;
  color: #757575;
}
.plan-card--ca {
  width: 15rem;
  height: 4.8rem;
  margin-top: 2rem;
  background-color: var(--off-white);
  border: 2px solid var(--bitcoin-orange);
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
  font-family: var(--font-sans);
}
.plan-card--ca span {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background: url("../assets/icons/orange-right-arrow.svg") center/cover
    no-repeat;
  vertical-align: text-bottom;
}
.plans-container--slider {
  display: flex;
  height: 31.6rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
/************* Sección de planes end *************/

/************* Footer styles *************/
footer {
  display: flex;
  width: 100%;
  height: 15rem;
  background: var(--bitcoin-orange);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: var(--size-500);
  list-style: 1.8rem;
}
.left li {
  margin: 1rem 0;
}
.left a {
  color: var(--just-white);
}
.right img {
  width: 10rem;
  height: 10rem;
}
/************* Footer styles end *************/